@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.custom-dialog-container .mat-dialog-container {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
}

.tooltips {
  position: relative;

  .tooltiptext {
    visibility: hidden;
    width: 125px;
    height: 36px;
    top: 2px;
    right: 105%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
}

.tooltips:hover {
  .tooltiptext {
    visibility: visible;
  }
}

body {
  background-image: url("../src/assets/images/default.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}
